/**
 * index.module.scss
 * Styles for home page
 */

@import 'app/styles/color';

@mixin home {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.25s;
  width: 100%;
}

.dark-home {
  @include home;
  background-color: $dark-background-color;
  color: $dark-text-color;
}

.light-home {
  @include home;
  background-color: $light-background-color;
  color: $light-text-color;
}
